In [2]:
import sqlite3

connection = sqlite3.connect('movies.db')
cursor = connection.cursor()

In [3]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('movies.db')
cursor = connection.cursor()

# Query to get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch and print all table names
tables = cursor.fetchall()
print("Tables in the database:")
for table in tables:
    print(table[0])

# Close the connection
connection.close()

Tables in the database:
actors
movies

In [8]:
import pandas as pd

df = pd.read_csv("IMDb_Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               400 non-null    object
 1   IMDb Rating         400 non-null    float64
 2   Year                400 non-null    int64
 3   Certificates        400 non-null    object
 4   Genre               400 non-null    object
 5   Director            400 non-null    object
 6   Star Cast           400 non-null    object
 7   MetaScore           400 non-null    float64
 8   Duration (minutes)  400 non-null    float64
dtypes: float64(3), int64(1), object(5)
memory usage: 28.3+ KB

In [12]:
import pandas as pd
import sqlite3

# Step 1: Load CSV into DataFrame
df = pd.read_csv("IMDb_Dataset.csv")

# Step 2: Connect to (or create) SQLite database file
connection = sqlite3.connect("imdb_data.db")

# Step 3: Write the DataFrame to a table in the database
df.to_sql("movies", connection, if_exists="replace", index=False)

# Step 4: Close the connection
connection.close()

print("SQLite database 'imdb_data.db' created with table 'movies'")

SQLite database 'imdb_data.db' created with table 'movies'

In [15]:
import sqlite3

# Connect to the database
connection = sqlite3.connect("imdb_data.db")
cursor = connection.cursor()

# Step 1: List all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("ðŸ“‹ Tables in the database:")
for table in tables:
    table_name = table[0]
    print(f"- {table_name}")

# Step 2: Show total rows for each table
print("\nðŸ”¢ Total rows per table:")
for table in tables:
    table_name = table[0]
    cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
    count = cursor.fetchone()[0]
    print(f"Table '{table_name}': {count} rows")

# Close connection
connection.close()

ðŸ“‹ Tables in the database:
- movies

ðŸ”¢ Total rows per table:
Table 'movies': 400 rows

In [17]:
import sqlite3

# Connect to the database
connection = sqlite3.connect("imdb_data.db")
cursor = connection.cursor()

# Execute query to fetch first 5 rows
cursor.execute("SELECT * FROM movies LIMIT 5;")
rows = cursor.fetchall()

# Get column names (optional but useful)
column_names = [description[0] for description in cursor.description]

# Print header
print(" | ".join(column_names))
print("-" * 80)

# Print each row
for row in rows:
    print(" | ".join(str(cell) for cell in row))

# Close the connection
connection.close()

Title | IMDb Rating | Year | Certificates | Genre | Director | Star Cast | MetaScore | Duration (minutes)
--------------------------------------------------------------------------------
Gladiator | 8.5 | 2000 | R | Action | Ridley Scott | David FranzoniJohn LoganWilliam Nicholson | 67.0 | 155.0
Mission: Impossible - Dead Reckoning Part One | 7.7 | 2023 | PG-13 | Action | Christopher McQuarrie | Tom CruiseHayley AtwellVing Rhames | 81.0 | 163.0
Rebel Moon - Part Two: The Scargiver | 5.2 | 2024 | PG-13 | Action | Zack Snyder | Zack SnyderKurt JohnstadShay Hatten | 35.0 | 122.0
Inglourious Basterds | 8.4 | 2009 | R | Adventure | Quentin Tarantino | Brad PittDiane KrugerEli Roth | 69.0 | 153.0
Borderlands | 7.1 | 2024 | R | Action | Eli Roth | Eli RothJoe Crombie | 66.9 | 116.3